@* @model TModel *@

@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact Page";
}

<div class="card border-0">
    <div class="card-body text-center">
        <img src="~/Images/contact_us.svg"  height="400" class="card-img-top" alt="checkout">
        <h2 class="card-title">Contact Ske's Pie Shop</h2>
        <p class="card-text">
            If you have any questions, please don't hesitate to get in touch. Click below to send us an email.
        </p>
        <email address="info@skespieshop.co.ug" content="Contact us" class="btn btn-primary"></email>
    </div>
</div>
<h2></h2>
