@* @model TModel *@

@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact Page";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Contact Ske's Pie Shop</h2>
        <p class="card-text">
            If you have any questins, please don't hesitate to get in touch. Click below to send us an email.
        </p>
        <email address="info@skespieshop.co.ug" content="Contact us" class="btn btn-primary"></email>
    </div>
</div>
<h2></h2>
