@model ShoppingCartViewModel

@{
    // Layout = "_Layout";
}
    
@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <div class="d-flex">
        <a class="btn btn-info disabled" aria-disabled="true">
            Cart items 
            <span class="badge bg-success">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </div>
}